<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCSE-MenuProfesores-2</title>
    <link href="assets/CSS/SCSE-MP2.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <header> 
        <div id="cabecero">
            <div id="Logo-titulo">
                <a id="Logo" href="/views/Buscador_2.html">
                    <div id="contenedor_imagen" ><img src="assets/images/SeMaslogo_st .png"/></div>
                    <p class="separacion_elementos_cabecero">Sémás</p>
                </a>
                <div id="contenedor-titulo"><h2 id="titulo_head">Cursos disponibles</h2></div>
            </div>
            <nav>
                <a href="SCSE-MenuProfesores.html" ><i class="glyphicon glyphicon-log-in"></i> Ofrecer curso</a>
                <a href="SCSE-Login.html" ><i class="glyphicon glyphicon-log-out"></i> Cerrar sesion</a>
            </nav>
        </div>
    </header>
    <section id="cuerpo">
        <div id="panel"> </div>
    </section>
    <footer>

    </footer>
    
</body>
</html>