<!DOCTYPE html>
<html lang="es">
    <head>    
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SCSE-MenuProfesores-2</title>
        <link href="assets/CSS/SCSE-MP2.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">     
    </head>
    <body>
        <header> 
            <div id="cabecero">
                <div id="Logo-titulo">
                    <a id="Logo" href="">
                        <div id="contenedor_imagen" ><img src="assets/images/SeMaslogo_st .png"/></div>
                        <p class="separacion_elementos_cabecero">Sémás</p>
                    </a>
                </div>
                <nav>
                    <a href="SCSE-Register.html" ><i class="glyphicon glyphicon glyphicon-user"></i> Registrarse</a>
                </nav>
            </div>
        </header><br>
        <section>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="panel-group">
                        <div class="panel panel-warning">
                            <div class="panel-heading" align="center">LOGIN</div>
                            <div class="panel-body" align="center">
                                <h2 align="center">USER LOGIN</h2>
                                <input class="form-control" type="text" id="username" placeholder="Nombre de usuario"><br><br>
                                <input class="form-control" type="password" id="password" placeholder="Contraseña"><br><br>
                                <button id="boton" class="btn btn-warning">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </section>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.js"></script>
        <script>           
            $("#boton").on( "click", function() {
			    var studentdata = { username: $("#username").val(), password: $("#password").val()};
			    $.ajax({  
      			    url: "/ingresarSistemaUsuario",  
      			    dataType: 'json',  
      			    type: 'POST',  
      			    data: studentdata,  
      			    success: function(data) { 
      				    if(data.estado == 1){
						    location.href='SCSE-Buscador.html';
					    }
                        else if(data.estado == 2){
                            location.href='SCSE-MenuProfesores.html';
                        }
					    else{
						    alert("error de logueo"); 
					    }   			
      			    }
    		    });
            });
        </script>
    </body> 
</html>