<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCSE-MenuProfesores-2</title>
    <link href="assets/CSS/SCSE-MP2.css" rel="stylesheet"/>
</head>
<body>
    <header> 
        <div id="cabecero">
        <div id="Logo">
        <div id="contenedor_imagen" ><img src="assets/images/SeMaslogo_st .png"/></div>
        <p class="separacion_cabecero">Sémás</p>
        </div>
        
        <h2 id="titulo_head">Cursos disponibles</h2>
        <a class="separacion_cabecero">Ofrecer curso</a>
        <a class="separacion_cabecero">Cerrar sesion</a>
        </div>
    </header>
    
</body>
</html>