<!DOCTYPE html>
<html>    
    <head>    
        <meta charset="utf-8">    
        <title>SCSE-Buscador</title>     
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">       
    </head>    
    <body> 
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-inverse" style="border-radius: 0px">
                    <div class="container-fluid">                        
                        <div class="navbar-header">                           
                            <img src="assets/images/SeMaslogo.png" width="50" height="50" alt="logo"> 
                        </div>
                        <h2 class="navbar-text">Cursos disponibles en SéMás</h2>
                        <h2 class="navbar-text">¿Qué elegirás hoy?</h2>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="SCSE-MenuProfesores.html"><span class="glyphicon glyphicon-log-in"></span> ¿Deseas realizar una oferta como profesor?</a></li>
                            <li><a href="SCSE-Login.html"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesion</a></li>
                        </ul>
                    </div>
                </nav>
            </div>           
        </div> 
        <div class="row">
            <div class="col-md-12"> 
                <div id='resultado'></div> 
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">               
                            <ul className="sidebar-nav" id="sidebar">
                                <li><a href="/Aritmetica">Aritmética</a></li>
                                <li><a href="/Algebra">Álgebra</a></li>
                                <li><a href="/Algoritmica">Algorítmica</a></li>
                                <li><a href="/Base de Datos">Base de Datos</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul className="sidebar-nav" id="sidebar">
                                <li><a href="/Biologia">Biología</a></li>
                                <li><a href="/Calculo">Cálculo</a></li>
                                <li><a href="/Desarrollo web">Desarrollo web</a></li>
                                <li><a href="/Fisica">Física</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul className="sidebar-nav" id="sidebar">
                                <li><a href="/Historia">Historia</a></li>
                                <li><a href="/Lenguaje">Lenguaje</a></li>
                                <li><a href="/Tesis">Tesis</a></li>
                                <li><a href="/Quimica">Química</a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>
            </div>            
        </div>           
    </body>    
</html>